DATABASE_URL=postgresql://postgres:postgres@db:5432/resume_matcher
DEBUG=True
ANTHROPIC_API_KEY=

RESUME_VALIDATION_MODEL=claude-3-5-sonnet-latest
RESUME_PARSING_MODEL=claude-3-5-sonnet-latest

ADZUNA_APP_ID=
ADZUNA_APP_KEY=
ADZUNA_BASE_URL=https://api.adzuna.com/v1/api/jobs

JOOBLE_API_KEY=
JOOBLE_BASE_URL=https://jooble.org/api